<div class="row">
	<div class="col-md-6 md-offset-3">
		<section ng-if="status.inProgress">
			<h1>Round {{status.round}}</h1>
			<p>Choose the matching word from the list below</p>
			<h2>English word and definition</h2>
			<h3>{{words.answer.en}}</h3>
			<h3>{{words.answer.def}}</h3>

			<button ng-repeat="word in words.wordList" ng-click="checkAnswer()">{{word.es}}</button>
		</section>

		<section ng-if="!status.inProgress">
			<h1>Game over</h1>
			<h2>Your final score: {{status.score}}</h2>
			<form>
				Your name: <input type="text"> <button type="submit">Submit score</button>
			</form>
	</div>
</div>

<pre>
	{{scope.words}}
</pre>